<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>我的购物车</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.useso.com/css?family=Open+Sans:400,300italic,400italic,600,600italic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.useso.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/flexslider.css" type="text/css" media="screen" rel="stylesheet"/>
    <link href="css/jquery.fancybox.css" rel="stylesheet">
    <link href="css/cloud-zoom.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/js/vue.js" type="text/javascript"></script>
    <script src="/js/vue-resource.min.js" type="text/javascript"></script>
    <!-- fav -->
    <link rel="shortcut icon" href="assets/ico/favicon.html">
</head>
<body>
<!-- Header Start -->
<header>
    <div class="headerstrip">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <a href="index-2.html" class="logo pull-left"><img src="img/logo.png" alt="SimpleOne"
                                                                       title="SimpleOne"></a>
                    <!-- Top Nav Start -->
                    <div class="pull-left">
                        <div class="navbar" id="topnav">
                            <div class="navbar-inner">
                                <ul class="nav">
                                    <li><a class="home active" href="#">Home</a>
                                    </li>
                                    <li><a class="myaccount" href="#">My Account</a>
                                    </li>
                                    <li><a class="shoppingcart" href="#">Shopping Cart</a>
                                    </li>
                                    <li><a class="checkout" href="#">CheckOut</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Top Nav End -->
                    <div class="pull-right">
                        <form class="form-search top-search">
                            <input type="text" class="input-medium search-query" placeholder="Search Here…">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="headerdetails">
            <div class="pull-left">
                <ul class="nav language pull-left">
                    <li class="dropdown hover">
                        <a href="#" class="dropdown-toggle" data-toggle="">US Doller <b class="caret"></b></a>
                        <ul class="dropdown-menu currency">
                            <li><a href="#">US Doller</a>
                            </li>
                            <li><a href="#">Euro </a>
                            </li>
                            <li><a href="#">British Pound</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown hover">
                        <a href="#" class="dropdown-toggle" data-toggle="">English <b class="caret"></b></a>
                        <ul class="dropdown-menu language">
                            <li><a href="#">English</a>
                            </li>
                            <li><a href="#">Spanish</a>
                            </li>
                            <li><a href="#">German</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="pull-right">
                <ul class="nav topcart pull-left">
                    <li class="dropdown hover carticon ">
                        <a href="#" class="dropdown-toggle"> Shopping Cart <span class="label label-orange font14">1 item(s)</span>
                            - $589.50 <b class="caret"></b></a>
                        <ul class="dropdown-menu topcartopen ">
                            <li>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="image"><a href="product.html"><img width="50" height="50"
                                                                                      src="img/prodcut-40x40.jpg"
                                                                                      alt="product" title="product"></a>
                                        </td>
                                        <td class="name"><a href="product.html">MacBook</a></td>
                                        <td class="quantity">x&nbsp;1</td>
                                        <td class="total">$589.50</td>
                                        <td class="remove"><i class="icon-remove"></i></td>
                                    </tr>
                                    <tr>
                                        <td class="image"><a href="product.html"><img width="50" height="50"
                                                                                      src="img/prodcut-40x40.jpg"
                                                                                      alt="product" title="product"></a>
                                        </td>
                                        <td class="name"><a href="product.html">MacBook</a></td>
                                        <td class="quantity">x&nbsp;1</td>
                                        <td class="total">$589.50</td>
                                        <td class="remove"><i class="icon-remove "></i></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="textright"><b>Sub-Total:</b></td>
                                        <td class="textright">$500.00</td>
                                    </tr>
                                    <tr>
                                        <td class="textright"><b>Eco Tax (-2.00):</b></td>
                                        <td class="textright">$2.00</td>
                                    </tr>
                                    <tr>
                                        <td class="textright"><b>VAT (17.5%):</b></td>
                                        <td class="textright">$87.50</td>
                                    </tr>
                                    <tr>
                                        <td class="textright"><b>Total:</b></td>
                                        <td class="textright">$589.50</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="well pull-right buttonwrap">
                                    <a class="btn btn-orange" href="#">View Cart</a>
                                    <a class="btn btn-orange" href="#">Checkout</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->

<div id="maincontainer">
    <section id="product">
        <div class="container" id="main">
            <!--  breadcrumb -->
            <ul class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                    <span class="divider">/</span>
                </li>
                <li class="active"> Shopping Cart</li>
            </ul>
            <!--购物车-->
            <h1 class="heading1"><span class="maintext"> 购物车</span><span class="subtext"> All items in your  Shopping Cart</span>
            </h1>
            <!-- Cart-->
            <div class="cart-info">
                <table class="table table-striped table-bordered"  v-for="shopcar in shopcars">
                    <tr>
                        <th class="image">Image</th>
                        <th class="name">Product Name</th>
                        <th class="model">Model</th>
                        <th class="quantity">Qty</th>
                        <th class="total">Action</th>
                        <th class="price">Unit Price</th>
                        <th class="total">Total</th>
                    </tr>
                    <tr>
                        <td class="image"><a href="#"><img title="product" alt="product" v-bind:src="shopcar.g_mpic" height="50" width="50"></a></td>
                        <td class="name"><a href="#">{{shopcar.g_name}}</a></td>
                        <td class="model">Purchased Product</td>
                        <td class="quantity"><input type="text" size="1" v-model="shopcar.g_count" name="quantity[40]" class="span1">
                        </td>
                        <td class="total"><a href="#"><img class="tooltip-test" data-original-title="Update"
                                                           src="img/update.png" alt=""></a>
                            <a href="#"  v-on:click="onRemove(index,2)"><img class="tooltip-test" data-original-title="Remove" src="img/remove.png"
                                             alt=""></a></td>
                        <td class="price">￥{{shopcar.g_price}}</td>
                        <td class="total" >￥{{shopcar.g_price*shopcar.g_count}}</td>
                    </tr>
                </table>
            </div>
            <div class="container">
                <div class="pull-right">
                    <div class="span4 pull-right">
                        <table class="table table-striped table-bordered ">
                            <tr>
                                <td><span class="extra bold totalamout">Total :</span></td>
                                <td><span class="bold totalamout">￥{{priceTotal | currency  '2'}}</span></td>
                            </tr>
                        </table>
                        <input type="submit" value="CheckOut" class="btn btn-orange pull-right">
                        <input type="submit" value="下单" class="btn btn-orange pull-right mr10" v-on:click="onOrders()">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Footer -->
<footer id="footer">
    <section class="footersocial">
        <div class="container">
            <div class="row">
                <div class="span3 aboutus">
                    <h2>About Us </h2>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. <br>
                        <br>
                        t has survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. </p>
                </div>
                <div class="span3 contact">
                    <h2>Contact Us </h2>
                    <ul>
                        <li class="phone"> +123 456 7890, +123 456 7890</li>
                        <li class="mobile"> +123 456 7890, +123 456 78900</li>
                        <li class="email"> test@test.com</li>
                        <li class="email"> test@test.com</li>
                    </ul>
                </div>
                <div class="span3 twitter">
                    <h2>Twitter </h2>
                    <div>
                    </div>
                </div>
                <div class="span3 facebook">
                    <h2>Facebook </h2>
                    <div id="fb-root"></div>

                </div>
            </div>
        </div>
    </section>
    <section class="footerlinks">
        <div class="container">
            <div class="info">
                <ul>
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms &amp; Conditions</a>
                    </li>
                    <li><a href="#">Affiliates</a>
                    </li>
                    <li><a href="#">Newsletter</a>
                    </li>
                </ul>
            </div>
            <div id="footersocial">
                <a href="#" title="Facebook" class="facebook">Facebook</a>
                <a href="#" title="Twitter" class="twitter">Twitter</a>
                <a href="#" title="Linkedin" class="linkedin">Linkedin</a>
                <a href="#" title="rss" class="rss">rss</a>
                <a href="#" title="Googleplus" class="googleplus">Googleplus</a>
                <a href="#" title="Skype" class="skype">Skype</a>
                <a href="#" title="Flickr" class="flickr">Flickr</a>
            </div>
        </div>
    </section>
    <section class="copyrightbottom">
        <div class="container">
            <div class="row">
                <div class="span6"> All images are copyright to their owners. More Templates </div>
                <div class="span6 textright"> ShopSimple @ 2012</div>
            </div>
        </div>
    </section>
    <a id="gotop" href="#">Back to top</a>
</footer>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/respond.min.js"></script>
<script src="js/application.js"></script>
<script src="js/bootstrap-tooltip.js"></script>
<script defer src="js/jquery.fancybox.js"></script>
<script defer src="js/jquery.flexslider.js"></script>
<script type="text/javascript" src="js/jquery.tweet.js"></script>
<script src="js/cloud-zoom.1.0.2.js"></script>
<script type="text/javascript" src="js/jquery.validate.js"></script>
<script type="text/javascript" src="js/jquery.carouFredSel-6.1.0-packed.js"></script>
<script type="text/javascript" src="js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="js/jquery.ba-throttle-debounce.min.js"></script>
<script defer src="js/custom.js"></script>
<script>
    var vue = new Vue({
        el: "#main",
        data: {
            shopcars: [{g_name:"商品名称"}],
        },
        http: {
            headers: {'Content-Type': 'application/x-www-form-urlencoded'}   //1.post请求需设置请求头
        },
        computed: { //计算属性，计算总价格，返回给页面展示
            priceTotal: function() {
                var price = 0;
                //遍历items数组,计算当前（this）price字段和count字段的价格总和
                for(var i = 0; i < this.shopcars.length; i++) {
                    price += this.shopcars[i].g_price * this.shopcars[i].g_count;
                }
                return price;
            }
        },
        methods: {
            onloading: function() {
                var ob = this; //当前对象
                var token = "2016";
                var uid = 1;
                var data = {token:token,uid:uid}
                Vue.http.post('/api/shopcar',data).then(function(res) {
                    if (res.data.error_code==4000){
                        var res_data = res.data.data;//获取服务器相应数据
                        ob.shopcars = res_data;
                        for (var i=0;i<ob.shopcars.length;i++){
                            ob.shopcars[i].g_mpic =  "../"+ob.shopcars[i].g_mpic
                        }
                    } else {
                        alert("查询失败");
                    }
                    //请求成功
                }, function(err) {
                    //请求失败
                    alert("err:" + err);
                    throw err;
                });
            },
            onRemove:function (index,cartid) {//移除购物车
                var uid = 1;
                var token = "2016";
//                var gid = 83;//暂时设置为静态
//                var cartid  = "2";
                alert(cartid);
                var ob = this;
                alert(ob.shopcars.g_name);
                var data = {uid:uid,token:token,cartid:cartid};
                Vue.http.post("/api/shopcar/delCar",data).then(function (res) {
                    if (res.data.error_code==4000){
                        alert("删除成功");
                        ob.shopcars.splice(index, 1);
                    } else {
                        alert("删除失败");
                    }
                });
            },
            onOrders :function () {
                var ob = this;
//                var cc = ob.shopcars[0].g_count;
//                var ss = ob.shopcars.length;
//                alert("下单的数据量"+ss);
//                for ()
//                for (var i=0;i<ob.shopcars.length;i++){
//                    var data = {token:'2016',uid:1,g_id:ob.shopcars[i].g_id,g_count:ob.shopcars[i].g_count}
//                    Vue.http.post("/api/orders/preOrder",data).then(function (res) {
//                        if (res.data.error_code==4000){
//                            alert("下单成功");
//                        } else {
//                            alert("下单失败");
//                        }
//                    });
//                }
                var data = {token:'2016',u_id:1,g_id:ob.shopcars[0].g_id,g_count:ob.shopcars[0].g_count,o_time:"2017-01-17 17:19:45"};
                Vue.http.post("/api/orders/preOrder",data).then(function (res) {
                        if (res.data.error_code==4000){
                            alert("下单成功");
                        } else {
                            alert("下单失败");
                        }
                    });
            }
        }
    });
    window.onload = function() {
        vue.onloading();
    }
</script>
</body>
</html>