<!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="/admin/dist/img/hjh4.jpg" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
              <p>亚力山大-皮尔斯</p>

              <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
            </div>
          </div>
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">主导航</li>
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>商品信息管理</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li class="active"><a href="/goods"><i class="fa fa-circle-o"></i>查询商品信息</a></li>
                <li class="active"><a href="/goods/add"><i class="fa fa-circle-o"></i>添加商品信息</a></li>
                 <li class="active"><a href="/goods"><i class="fa fa-circle-o"></i>操作商品</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-files-o"></i>
                <span>博客标签管理</span>
                <i class="fa fa-angle-left pull-right"></i>
                <!--span class="label label-primary pull-right">4</span-->
              </a>
              <ul class="treeview-menu">
                <li><a href="/admin/tag"><i class="fa fa-circle-o"></i> 浏览标签信息</a></li>
                <li><a href="/admin/tag/add"><i class="fa fa-circle-o"></i> 添加标签信息</a></li>
              </ul>
            </li>
           
            <li class="treeview">
              <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>博客信息管理</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/admin/pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                <li><a href="/admin/pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
                <li><a href="/admin/pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
                <li><a href="/admin/pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
              </ul>
            </li>
          
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>