<!DOCTYPE html>
<html>
  <head>
    <title>图片</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
  	img{
  		margin-top: 10px;
  		width: 130px;
  		height: 100px;
  	}
  	#images{
  		width: auto;
  		height: 200px;
  		
  	}
  form{
  	text-align: center;
  	margin-top: 40px;
  }
  </style>
  <script>
  	window.onload = function(){
        var input = document.getElementById("img");
        var result,div;

        if(typeof FileReader==='undefined'){
            result.innerHTML = "抱歉，你的浏览器不支持 FileReader";
            input.setAttribute('disabled','disabled');
        }else{
            input.addEventListener('change',readFile,false);
        }　　　　　//handler
        function readFile(){
            for(var i=0;i<this.files.length;i++){
            	if(this.files.length<2){
            		alert("商品图片要至少上传两张哦！");
            		return ;
            	}
                if (!input['value'].match(/.jpg|.gif|.png|.bmp/i)){　　//判断上传文件格式
                    return alert("上传的图片格式不正确，请重新选择")　　　　　　　　　　}
                var reader = new FileReader();
                reader.readAsDataURL(this.files[i]);
                reader.onload = function(e){
                    result = '<img src="'+this.result+'" alt=""  id="simg"/>';
                    div = document.createElement('div');
                    div.innerHTML = result;
                    document.getElementById('images').appendChild(div);  　　//插入dom树                      <br>　
                    }
            }
          
        }
    }
  	
  </script>
  <body background="/admin/imgs/bk1.jpg">
  	<h1 style="text-align: center;color: white;margin-top: 20px;">商品图片添加页面</h1>
   <form action="/goods/upload" enctype="multipart/form-data" method="post">
   	<input name="gid" value="<%=goodid%>" hidden="hidden" />
  <span style="color: white;">  请选择商品图片(大于2张)：</span><input type="file" id="img" name="img" accept="image/*" multiple="multiple"/><br><br><br>
    <div id="images" ></div>
    <input type="submit" value="确认提交" style="position: absolute;margin-top: 200px;"/>
    </form>
  
  </body>
</html>
