<!DOCTYPE html>
<html>
  <head>
    <title><%= mytitle %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= mytitle %></h1>
    <p>Welcome to <%= mytitle %></p>
  </body>
</html>
